<div class="topbar">
        <a href="/home">HOME</a>
        <em> Coins: {{user.coins}}</em>
</div>

<div class="footernav">
        <ul>
          <li><a href="/collection/pieces">Collection</a></li>
          <li><a href="/yard">Yard</a></li>
          <li><a href="/game">Game</a></li>
        </ul>
</div>
