<header class="fixed-top">
<nav class="navbar navbar-dark bg-primary navbar-fixed-top navbar-collapse">
        <div class="nav navbar-nav"><a class="nav-link" href="/home">HOME</a></div>
        <div class="nav navbar-nav navbar-right" id="coins"> Coins: {{user.coins}}</div>
</nav>
</header>

<footer class="footer d-flex fixed-bottom bg-primary text-light">
<nav class="navbar navbar-dark navbar-fixed-top navbar-collapse">
          <a class="navbar-brand nav-link" href="/collection/pieces">Collection</a>
          <a class="navbar-brand nav-link" href="/yard">Yard</a>
          <a class="navbar-brand nav-link" href="/game">Game</a>
</nav>
</footer>
