{{> navbar}}


<h2> Collection: Toys</h2>

<div class="d-flex justify-content-center bg-light">
	<a class="p-2" href="/collection/pieces">Pieces</a>
	<a class="p-2" href="/collection/toys">Toys</a>
</div>

<div class="fivemsg">
</div>

<table class="table">
	<thead>
	<tr>
	  <th scope="col"></th>
		<th scope="col">Name</th>
		<th scope="col">Quantity</th>
		<th scope="col"></th>
	</tr>
	</thead>
	{{#each user.toys}}
	<tr id={{name}}>
		<td class="icon"></td>
		<td class="name">{{name}}</td>
		<td class="quantity">{{quantity}}</td>
		<td><button type="button" class="btn btn-secondary feed" onClick="feed(this)">Feed</button></td>

	</tr>
	{{/each}}
</table>

<script src="../clientjs/feed.js"></script>

