<h2> Collection: Pieces</h2>

{{> navbar}}

<div class="collection-nav">
<ul>
	<li><a href="/collection/pieces">Pieces</a></li>
	<li><a href="/collection/toys">Toys</a></li>
</ul>
</div>

<div class="fivemsg">
</div>

<table class="table">
	<thead>
	<tr>
		<th scope="col">Name</th>
		<th scope="col">Quantity</th>
		<th scope="col"></th>
	</tr>
	</thead>
	{{#each user.pieces}}
	<tr id={{name}}>
		<td class="name">{{name}}</td>
		<td class="quantity">{{quantity}}</td>
		<td><button type="button" class="btn btn-secondary combine" onClick="makeToy(this)">Combine</button></td>

	</tr>
	{{/each}}
</table>

<script src="../clientjs/combine.js"></script>

