<h2> Collection: Toys</h2>

{{> navbar}}

<div class="collection-nav">
<ul>
	<li><a href="/collection/pieces">Pieces</a></li>
	<li><a href="/collection/toys">Toys</a></li>
</ul>
</div>


<table>
	{{#each user.toys}}
	<tr>
		<td>{{name}}</td>
		<td>{{quantity}}</td>
		<td>Combine</td>
	</tr>
	{{/each}}
</table>

