{{>navbar}}
<div class="body text-center">
<div class="text-center playlabel display-4" style="margin-top: 20vh">CHOOSE YOUR MOVE</div>

<div id="game">

<div id="compmove"></div>

<hr>
<div id="moves" class="text-center">
<button id="rock" class="btn" onClick="play(this)"><img src="https://www.pngitem.com/pimgs/m/226-2260873_transparent-rock-paper-scissors-png-png-download.png" alt="rock" style="max-width: 20vw"></button>
<button id="paper" class="btn" onClick="play(this)"><img src="https://cdn.clipart.email/9e4442c95786c113265ddec28a098ebf_transparent-rock-paper-scissors-clipart-rock-paper-scissors-png-_860-927.png" alt="paper" style="max-width: 20vw"></button>
<button id="scissor" class="btn" onClick="play(this)"><img src="https://www.kindpng.com/picc/m/502-5025731_scissors-clipart-png-download-rock-paper-scissors-clipart.png" alt="scissor" style="max-width: 20vw"></button>
</div>

<button id="replay" class='btn d-none'>PLAY AGAIN</button>

</div>

<script src="../clientjs/game.js"></script>
</div>
