{{> navbar}}

<div class="body text-center">
<img class="img-fluid" src="img/gashapon.png" alt="gashapon" style="max-height:50vh;">

<div id="card">
	<p>Click spin to get new piece</p>
	<p>Each spin requires 10 coins</p>
</div>

<form method="POST" action="/home">
	<button id="spin" type="submit">Spin</button>

</form>


</div>
{{>messages}}

</div>

