<div class="home">
<img src="img/gashapon.png" alt="gashapon" style="width:250px;height:300px;">

<p>Click spin to get new piece</p>

<form method="POST" action="">
	<input type="submit" value="Spin">
</form>

{{randPiece.msg}}{{randPiece.name}}

</div>
