{{> navbar}}

<div class="body text-center">
<img class="img-fluid h-75" src="img/gashapon.png" alt="gashapon" style="width:250px;height:300px;">

<div id="card">
	<p>Click spin to get new piece</p>
	<p>Each spin requires 10 coins</p>
</div>

<form method="POST" action="/home">
	<button id="spin" type="submit">Spin</button>

        <div id = "p-msg" class="alert alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
</form>


</div>
{{>messages}}

<script src="../clientjs/spin.js"></script>

</div>

