<h2>Login</h2>

{{> messages}}
<form action="/login" method="POST">
	Username: <input type="text" name="username">
	Password: <input type="text" name="password">
	<input type="submit" value="Login">
</form>
<p>No account? <a href="/register">Register</a></p>
