{{> navbar}}

<div class="body text-center">
<div id="pet">
	<div class="info border border-light float-right">
		Level: {{user.pets.level}}
		Growth: {{user.pets.growth}}/100
	</div>
	<img class="img-fluid" style="max-height:75vh" src="img/egg.png" alt="pet">

</div>
</div>
